* {
	box-sizing: border-box;
}

body {
	font-size: 0;
	font-family: Arial, Verdana, sans-serif;
}

#container {
	max-width: 900px;
	margin: 0 auto;
	border: 1px black solid; /*remove*/
}

.col {
	display: inline-block;
	border: 1px solid red; /*remove*/
	vertical-align: top;
	margin: 0 auto;
	width: 32%;

}

#left {
	margin-right: 15px;
}

#mid {
	margin-right: 15px;
}


			/*mainBox*/



			/*optionRow*/

.optionRow {
	display: inline-block;
	width: 100%;

}

.button {
	display: inline-block;
	width: 20%;
	height: 50px;
	border: 2px solid #47A3DA;
	border-top-width: 3px;
	border-bottom: 3px;
	text-align: center;
	padding-top: 9px;
	vertical-align: top;
	color: #47A3DA;
	font-size: 22px;
	line-height: 33px;
}

.size {
	font-size: 22px;
	display: inline-block;
}

.button:first-child {
	border-left:none;
}

.button:nth-child(5){
	border-right:none;
}

			/*merchPrice*/

.merchPrice {
	border-top-width: 3px solid #47A5E0; */
	border-left: none;
	border-right-width: none;
	border-bottom: none;
	width: 100%;
	font-size: 15px;
	vertical-align: top;
}

h1 {
	width: 50%;
	display: inline-block;
	font-size: 16px; 
	color: #47A5E0;
}
/*I am sorry*/
h2 {
	display: inline-block;
	font-size: 16px; 
	font-weight: bold;
	width: 47%;
	color: #47A5E0;
	text-align: right;
}

	/*responsive design*/

.button:hover {
	background-color: #47A5E0;
	color: white;
}



.size img {
	padding: 0;
	border: 3px solid #47A3DA;
	height: 33%;
	width: 25%;
	position: absolute;
	top: 71.8%;
	left: 37%;
	opacity: 0;
	transition: 0.5s all ease;
}

.size:hover > img {
	opacity: 1;
}

.color img {
	padding: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	border: 3px solid #47A3DA;
	height: 17%;
	width: 25%;
	position: absolute;
	top: 79.7%;
	left: 58%;
	opacity: 0;
	transition: 0.5s all ease;
}

.color:hover > img {
	opacity: 1;
}

			/*Flip*/
			
.shirtBox {
	perspective: 900px;
}


.flipHolder {
 	width: 100%;
 	height: 350px;
 	position: relative;
 	transition: 3s transform ease;
 	transform-style: preserve-3d;
}

img {
	max-width: 100%;
	position: absolute;
	padding-right: 10px;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	backface-visibility: hidden;
}

#back {
	transform: translateY(-50%) rotateY(180deg);
}

.redoContainer:hover ~ .flipHolder{
	transform: rotateY(180deg);
}

.redoContainer:hover {
	background-color: #47A5E0;
	color: white;
}


#redo:hover {
	position: absolute;
	background-color: #47A3DA;
	color: white;
}

.redoContainer {
	display: inline-block;
	position: absolute;
	border: 3px solid #47A3DA;
	text-align: center;
	color: #47A3DA;
	border-top: none;
	border-right: none;
	right: 0;
	height: 30px;
	width: 30px;
}

/*FIX ICON*/

.redoCorner i:hover {
	background-color: #47A3DA;
	color: white;
}
.redoContainer i{
	padding: 10px;
}

/*FIX ICON*/


.mainBox {
	position: relative;
	border: 3px solid #47A3DA;
	border-right-width: 3.1px;
	width: 100%; 
}

